@charset "UTF-8";
@import "fontawesome/css/font-awesome.min.css";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial";
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header {
	width: 100%;
	height: 60px;
	position: relative;
	display: flex;
	align-items: center;
	/*background-color: #333030;*/
}

#visual {
	width: 100%;
	position: relative;
	height: auto;
}

.visual-part {
	width: 100%;
	position: relative;
}

.visual-top {
	/*background-color: #827655;*/
	background-color: #694e10;
	height: 500px;
}

.visual-bottom {
	border-bottom: 1px solid #ddd;
	height: 200px;
}

.visual-img-container {
	width: 600px;
	height: 360px;
	background-color: #ddd;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -100px;
	overflow: hidden;
	box-shadow: 1px 2px 3px 2px #0002;
}

.visual-img-container > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.visual-img-container > img:nth-child(1) {
	right: 0;
	animation-name: slideOne;
}

.visual-img-container > img:nth-child(2){
	right: 100%;
	animation-name: slideTwo;
}

.visual-img-container > img:nth-child(3){
	right: 100%;
	animation-name: slideThree;

}

@keyframes slideOne {

}

@keyframes slideTwo {
			
}

@keyframes slideThree {
		
}

.visual-title {
	color: #fff;
	text-align: center;
	top: 90px;
	position: relative;
	font-size: 45px;
	font-weight: lighter;
}

.visual-border-bottom {
	position: relative;
	background-color: #fff;
	top: 90px;
	width: 520px;
	height: 2px;
	margin: 0 auto;
}

.visual-text {
	color: #fff;
	text-align: center;
	width: 600px;
	position: relative;
	margin: 0 auto;
	font-size: 15px;
	top: 115px;
}

.visual-slide-btn-box {
	width: 95%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: space-between;
}

.visual-slide-btn-box > button {
	font-size: 25px;
	border:none;
	width: 50px;
	height: 50px;	
	background-color: #ccc;
	border-radius: 100px;
	color: #694e10;
	outline: none;
	cursor: pointer;
}

.visual-slide-btn-box > button:last-child > i {
	margin-left: 5px;
}


.visual-slide-btn-box > button:hover {
	background-color: #eee;
}

.visual-bottom-text {
	font-size: 16px;
	text-align: center;
	position: relative;
	color: #333030;
	top: 120px;
	font-style: italic;
}

.visual-bottom-text > span {
	font-style: normal;
	font-size: 14px;
	position: relative;
	top: 5px;
	color: #666;
}

.logo {
	width: 150px;
	height: 40px;
	background-color: #ddd;
	position: relative;
	left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	cursor: pointer;
}

header > nav > ul {
	width: auto;
	/* background-color: #ddd; */
	display: flex;
	margin-left: 20px;
}

header > nav > ul > li {
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

header > nav > ul > li > a {
	color: #333030;
	font-weight: bolder;
	font-size: 14px;
}

header > nav > ul > li.active {
	border-bottom: 2px solid #694e10;
}

header > nav > ul > li.active > a {
	color: #694e10;
}

.user-ui {
	position: absolute;
	right: 0;
	height: 100%;
	width: auto;
}

.user-ui-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.user-ui-container > button {
	width: 90px;
	height: 35px;
	font-size: 12px;
	border: none;
	cursor: pointer;
	font-weight: bolder;
	outline: none;
}

.user-ui-container > .user-login {
	color: #497ee5;
	background: none;
	font-size: 13px;
}

.user-ui-container > .user-join {
	background-color: #497ee5;
	color: #f7f7f7;
	border-radius: 20px;
	margin-right: 15px;
}
