@charset "UTF-8"; 
@import "fontawesome/css/font-awesome.min.css";
/* 폰트어썸 임포트 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial";
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/*헤더 영역*/

header {
	width: 100%;
	height: 60px;
	position: relative;
	display: flex;
	align-items: center;
}

.logo {
	width: 150px;
	height: 40px;
	background-color: #ddd;
	position: relative;
	left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	cursor: pointer;
}

header > nav > ul.desktop {
	width: auto;
	/* background-color: #ddd; */
	display: flex;
	margin-left: 20px;
}

header > nav > ul.desktop > li {
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

header > nav > ul.desktop > li > a {
	color: #333030;
	font-weight: bolder;
	font-size: 14px;
}

header > nav > ul.desktop > li.active {
	border-bottom: 2px solid #694e10;
}

header > nav > ul.desktop > li.active > a {
	color: #694e10;
}

.user-ui {
	position: absolute;
	right: 0;
	height: 100%;
	width: auto;
}

.user-ui-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.user-ui-container > button {
	width: 90px;
	height: 35px;
	font-size: 12px;
	border: none;
	cursor: pointer;
	font-weight: bolder;
	outline: none;
}

.user-ui-container > .user-login {
	color: #497ee5;
	background: none;
	font-size: 13px;
}

.user-ui-container > .user-join {
	background-color: #497ee5;
	color: #f7f7f7;
	border-radius: 20px;
	margin-right: 15px;
}

/*헤더 영역 끝*/

/*비주얼 시작 */

#visual {
	width: 100%;
	position: relative;
	height: auto;
}

.visual-part {
	width: 100%;
	position: relative;
}

.visual-top {
	background-image: linear-gradient(to right,#0008,#0009), url("bgimg4.jpg");
	background-size: cover;	
	height: 500px;
}

.visual-bottom {
	border-bottom: 1px solid #ddd;
	height: 200px;
}

.visual-img-container {
	width: 600px;
	height: 360px;
	background-color: #ddd;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -100px;
	overflow: hidden;
	box-shadow: 1px 2px 3px 2px #0002;
}

.visual-img-container > .visual-imgs {
	position: relative;
	width: 500%;
	height: 100%;
	animation: 8s slide ease-in-out infinite;
}

.visual-img-container > .visual-imgs > img {
	width: 20%;
	height: 100%;
	object-fit: cover;
	float: left;
}

@keyframes slide {
	0% {
		left: 0%;
	}

	25% {
		left: 0%;
	}

	30% {
		left: -100%;
	}

	50% {
		left: -100%;
	}

	55% {
		left: -200%;
	}

	75% {
		left: -200%;
	}

	80% {
		left: -300%;
	}

	95% {
		left: -300%;
	}

	100% {
		left: -400%;
	}
}

.visual-title {
	color: #fff;
	text-align: center;
	top: 90px;
	position: relative;
	font-size: 45px;
	font-weight: lighter;
}

.visual-border-bottom {
	position: relative;
	background-color: #fff;
	top: 90px;
	width: 520px;
	height: 2px;
	margin: 0 auto;
}

.visual-text {
	color: #fff;
	text-align: center;
	width: 600px;
	position: relative;
	margin: 0 auto;
	font-size: 15px;
	top: 115px;
}

.visual-slide-btn-box {
	width: 95%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: space-between;
}

.visual-slide-btn-box > button {
	font-size: 25px;
	border:none;
	width: 50px;
	height: 50px;	
	background-color: #ccc;
	border-radius: 100px;
	color: #694e10;
	outline: none;
	cursor: pointer;
}

.visual-slide-btn-box > button:last-child > i {
	margin-left: 5px;
}


.visual-slide-btn-box > button:hover {
	background-color: #eee;
}

.visual-bottom-text {
	font-size: 16px;
	text-align: center;
	position: relative;
	color: #333030;
	top: 120px;
	font-style: italic;
}

.visual-bottom-text > span {
	font-style: normal;
	font-size: 14px;
	position: relative;
	top: 5px;
	color: #666;
}

/* 비주얼섹션 끝 */

/* 집들이 영역 시작 */

section#housewarming {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 600px;
	background-color: #f7f7f7;
}

#housewarming > h1 {
	text-align: center;
	color: #333030;
	font-size: 35px;
	text-shadow: 1px 2px 3px #0002;
	position: relative;
	top: 80px;
}

.housewarming-item {
	position: relative;
	width: 300px;
	height: 300px;
	box-shadow: 1px 2px 3px 2px #0001;
	background-color: #ddd;
}

.housewarm-img-box {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.housewarm-img-box > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.housewarm-img-box > .img-show {
	position: relative;
}

.housewarm-img-box > .img-hover {
	position: absolute;
	left: 100%;
	transition: left .5s;
}

.housewarm-img-box:hover > .img-hover {
	left: 0;
}

.housewarm-dark:hover ~ .housewarm-img-box > .img-hover {
	left: 0;
}

.housewarm-dark {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	background-color: #0005;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.housewarm-dark > p {
	color: #fff;
	text-align: center;
}

.housewarm-dark > .housewarm-writer {
	font-size: 17px;
}

.housewarm-dark > .housewarm-grade {
	font-size: 13px;
	margin-top: 3px;
}

.housewarming-item.housewarming-more {
	background: #694e10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 90px;
	cursor: pointer;
	transition: background-color .3s;
}

.housewarming-item.housewarming-more:hover {
	background-color: #86661c;
}

/*집들이 영역 끝*/

/*전문가 영역 */

section#exp-area {
	width: 100%;
	position: relative;
	height: 600px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

section#exp-area > h1 {
	text-align: center;
	color: #333030;
	font-size: 35px;
	text-shadow: 1px 2px 3px #0002;
	position: relative;
	top: 80px;
}

section#exp-area > a {
	color: #497ee5;
	top: 85px;
	position: relative;
	font-size: 16px;
}

section#exp-area > a:hover {
	text-decoration: underline;
}

.section-box {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: 130px;
}

.exp-item {
	position: relative;
	width: 300px;
	height: 300px;
	box-shadow: 1px 2px 3px 2px #0001;
	/*background-color: #ddd;*/
}

.exp-item-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.exp-item-card {
	width: 100%;
	height: 100%;
	position: relative;
	transition: 0.5s;
	transform-style: preserve-3d; 
}

.exp-item-front > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.exp-item-behind {
	transform: rotateY(180deg);
}

.exp-item:hover .exp-item-card {
	transform: rotateY(180deg);
}

.exp-item-behind-container {
	width: 100%;
	height: 100%;
	position: relative;
	color: #fff;
}

.exp-item-behind-container > i {
	font-size: 100px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.exp-behind-text {
	position: relative;
	top: 190px;
}

.exp-behind-name {
	font-size: 14px;
	color: #f7f7f7;
}

.exp-behind-id {
	font-size: 19px;
	font-weight: bolder;
}

.exp-item-btn {
	position: absolute;
	right: 10px;
	top: 10px;
	background: none;
	border:none;
	color: #fff;
	font-size: 25px;
	outline: none;
	cursor: pointer;
}

/*전문가 영역 끝 */

/*시공후기 영역*/

section#construction-review {
	text-align: center;
	width: 100%;
	position: relative;
	height: 1250px;
	background-color: #f7f7f7;
}

.review-top {
	width: 100%;
	height: 600px;
	background-image: linear-gradient(to right,#0008,#0009), url("bgimg3.jpg");
	background-size: cover;	
	position: relative;
}

.review-top > h1 {
	color: #fff;
	text-align: right;
	position: absolute;
	bottom: 60px;
	right: 60px;
	font-size: 40px;
}

h1.review-title {
	text-align: center;
	font-size: 25px;
	position: relative;
	top: 50px;
}

.review-box {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 0 auto;
	height: auto;
}

.review-item {
	width: 45%;
	min-height: 400px;
	background-color: #fff;
	position: relative;
	top: 100px;
	border-radius: 10px;
}

.review-item > img.review-writer {
	position: absolute;
	left: -50px;
	top: 30px;
	border : 1px solid white;
	background-color: white;
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 100%;
}

.review-item > .writer-info {
	position: relative;
	top: 60px;
	margin: 0 auto;
	text-align: left;
	width: 70%;
}

.review-name {
	font-size: 18px;
	color: #333030;
}

.review-id {
	font-size: 14px;
	color: #666;
	text-decoration: underline;
}

.review-content {
	position: relative;
	top: 80px;
	height: auto;
	text-align: center;
	width: 70%;
	font-size: 18px;
	font-weight: bolder;
	margin: 0 auto;
}

.review-cost {
	position: relative;
	top: 100px;
	width: 68%;
	margin: 0 auto;
	color: #999;
	display: flex;
}

.review-cost > i {
	color: #666;
	font-size: 17px;
	margin-right: 5px;
}


.review-grade {
	position: absolute;
	right: 0;
}

.review-border-bottom {
	width: 70%;
	height: 1px;
	margin: 0 auto;
	position: relative;
	top: 120px;
	background-color: #ddd;
}

.review-exp-info {
	position: relative;
	top: 140px;
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.review-exp-title {
	width: 70%;
	margin: 0 auto;
	position: relative;
	top: 130px;
	font-size: 14px;
	color: #ddd;
}

.review-exp-img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 100%;
	
}

.review-exp-text {
	position: relative;
}

section#construction-review > a {
	color: #497ee5;
	top: 50px;
	position: relative;
	font-size: 16px;
}

section#construction-review > a:hover {
	text-decoration: underline;
}

/*시공후기 영역 끝 */

/*푸터 디자인*/

footer {
	width: 100%;
	height: 50px;
	background-color: #333030;
	font-size: 14px;
	color: #f4f5f9;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*푸터 디자인 끝*/

/*모바일 전용 요소 감추기*/

.mobile {
	display: none;
}

/*모바일 제작*/

@media (min-width: 320px) and (max-width: 480px){

	body {
		overflow-x: hidden;
	}

	nav > ul.desktop {
		display: none !important;
	}

	.user-ui {
		right: 40px;
	}

	.mobile {
		display: block;
	}

	header {
		z-index: 10;
	}

	.nav-mobile-bars {
		display: block;
		position: absolute;
		font-size: 20px;
		cursor: pointer;
		color: #333030;
		right: 20px;
	}

	.nav-mobile-bars:hover + .nav-mobile-box {
		right: 0;
	}

	.nav-mobile-box {
		top: 0;
		transition: right .4s;
		right: -200px;
		width: 200px;
		height: auto;
		position: absolute;
		background-color: #333030;
	}

	.nav-mobile-box > li {
		width: 100%;
		height: 50px;
		position: relative;
	}

	.nav-mobile-box > li.active > a::after {
		width: 8px;
		height: 8px;
		background-color: #fff;	
		content: "";
		border-radius: 100%;
		position: absolute;
		right: 20px;
	}

	.nav-mobile-box > li:not(:last-child) > a {
		border-bottom: 1px solid #666;
	}

	.nav-mobile-box > li > a {
		width: 100%;
		height: 100%;
		color: #f4f5f9;
		display: flex;
		align-items: center;
		padding-left: 20px;
	}

	.visual-title {
		font-size: 30px;
	}	

	.visual-border-bottom {
		width: 350px;
	}

	.visual-text {
		width: 400px;	
		font-size: 13px;
	}

	.visual-slide-btn-box > button {
		width: 25px;
		height: 25px;
		font-size: 13px;
	}

	.visual-top {
		height: 320px;
	}

	.visual-img-container {
		width: 300px;
		height: 180px;
	}

	.visual-bottom-text {
		font-size: 14px;
		padding: 0 20px;
	}

	.visual-bottom-text > span {
		font-size: 13px;
	}

	#housewarming > h1 {
		font-size: 25px;
		top: 50px;
	}

	.housewarming-box {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(2,1fr);
		grid-gap: 15px;
		top: 80px;
	}

	.housewarming-item {
		width: 180px;
		height: 180px;
	}

	section#exp-area > h1 {
		top: 60px;
	}

	section#exp-area > a {
		top: 65px;
	}

	.exp-box {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(2,1fr);
		grid-gap: 15px;
		top: 80px;
	}

	.exp-item {
		width: 180px;
		height: 180px;	
	}

	.exp-item-behind-container > i {
		font-size: 60px;
	}

	.exp-behind-text {
		top: 120px;
	}

	.exp-behind-id {
		font-size: 17px;
	}

	.exp-behind-name {
		font-size: 13px;
	}

	.review-top {
		height: 400px;
	}

	.review-box {
		flex-direction: column;
	}

	section#construction-review {
		height: 1400px;
	}

	.review-item {
		width: 100%;
		top: 60px;
		margin-top: 25px;
	}

	footer {
		font-size: 12px;
		height: 40px;
	}

	.review-top > h1 {
		font-size: 30px;
	}
}

/*모바일 제작 끝*/