@charset "UTF-8";
@import "fontawesome/css/font-awesome.min.css";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial";
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header {
	width: 100%;
	height: 70px;
	position: relative;
	/*background-color: #ddd;*/
}

#visual {
	width: 100%;
	position: relative;
	height: auto;
}

.visual-part {
	width: 100%;
	position: relative;
}

.visual-top {
	/*background-color: #827655;*/
	background-color: #694e10;
	height: 500px;
}

.visual-bottom {
	border-bottom: 1px solid #ddd;
	height: 200px;
}

.visual-img-container {
	width: 600px;
	height: 360px;
	background-color: #ddd;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -100px;
	overflow: hidden;
	box-shadow: 1px 2px 3px 2px #0002;
}

.visual-img-container > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.visual-img-container > img:nth-child(1) {
	right: 0;
	animation-name: slideOne;
}

.visual-img-container > img:nth-child(2){
	right: 100%;
	animation-name: slideTwo;
}

.visual-img-container > img:nth-child(3){
	right: 100%;
	animation-name: slideThree;

}

@keyframes slideOne {

}

@keyframes slideTwo {
			
}

@keyframes slideThree {
		
}

.visual-title {
	color: #fff;
	text-align: center;
	top: 90px;
	position: relative;
	font-size: 60px;
	font-weight: lighter;
}

.visual-border-bottom {
	position: relative;
	background-color: #fff;
	top: 90px;
	width: 700px;
	height: 3px;
	margin: 0 auto;
}

.visual-text {
	color: #fff;
	text-align: center;
	width: 600px;
	position: relative;
	margin: 0 auto;
	font-size: 15px;
	top: 115px;
}